name: Deploy to PythonAnywhere

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy via SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.PA_HOST }}
        username: ${{ secrets.PA_USERNAME }}
        password: ${{ secrets.PA_PASSWORD }}
        key: ${{ secrets.PA_SSH_KEY }}
        script: |
                  cd ~/lucky_draw
                  # Hủy bỏ thay đổi cục bộ để tránh conflict
                  git reset --hard origin/main
                  git pull
                  pip install --user -r requirements.txt
                  python manage.py migrate
                  python manage.py collectstatic --noinput
                  touch /var/www/*_wsgi.py
